@page
@{
    ViewData["Title"] = "Opticron";
}

<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opticron</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    
	<div class="top-bar">
	    <div class="grid-x grid-padding-x align-center">
			<div class="cell large-offset-1">
				<h3>Opticron</h3>
			</div>
		
			
			<div class="large-auto cell large-offset-1">
				<h6 style="font-size:0.875em;">Our Products</h6>
			</div>
			
			<div class="large-auto cell">
				<h6 style="font-size:0.875em;">Where to Buy</h6>
			</div>

			<div class="large-auto cell">
				<h6 style="font-size:0.875em;">News & Reviews</h6>
			</div>

			<div class="large-auto cell">
				<h6 style="font-size:0.875em;">Help & Support</h6>
			</div>

			<div class="large-auto cell">
				<h6 style="font-size:0.875em;">My Opticron</h6>
			</div>

			<div class="large-4 cell">
				<ul class="menu">
					<li><input type ="search" placeholder="Search"></li>
					<li><button type="button" class="button">Search</button></li>
				</ul>
			</div>
		</div>
	</div>



	<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <div class="orbit-wrapper">

    <div class="orbit-controls">
      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    </div>

    <ul class="orbit-container">
      <li class="is-active orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="https://www.freewebheaders.com/wp-content/gallery/forests-fields/grass-hills-and-colorful-summer-flowers-field-website-header.jpg" alt="summer flowers">
          <figcaption class="orbit-caption">Field of Roses. + grassy hills from Windows XP Bliss</figcaption>
        </figure>
      </li>

      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="https://www.freewebheaders.com/wp-content/gallery/mountains-snow/snow-mountains-blue-sky-and-lake-panoramic-web-header-.jpg" alt="sky">
          <figcaption class="orbit-caption">Beautiful Mountain Range, Alps?</figcaption>
        </figure>
      </li>

      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="https://www.freewebheaders.com/wp-content/gallery/plants-cactus/amazing-beautiful-pino-enano-pine-plant-field-header.jpg" alt="field">
          <figcaption class="orbit-caption">Open and rocky Fields, + Lake?</figcaption>
        </figure>
      </li>

      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="https://cdn.pixabay.com/photo/2017/10/03/17/53/nature-2813487_1280.jpg" alt="wooden houses">
          <figcaption class="orbit-caption">A small Farm area, with sheds</figcaption>
        </figure>
      </li>

	  <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="https://png.pngtree.com/thumb_back/fw800/back_pic/00/02/55/065618d5d6db7c6.jpg" alt="cityscape">
          <figcaption class="orbit-caption">The City life, Full of People and Cars</figcaption>
        </figure>
      </li>

    </ul>
  </div>

  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0">
      <span class="show-for-sr">First slide details.</span>
      <span class="show-for-sr" data-slide-active-label>Current Slide</span>
    </button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
    <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
	<button data-slide="4"><span class="show-for-sr">Fifth slide details.</span></button>

  </nav>
</div>




<div class="grid-x grid-padding-x align-center">

	<div class="large-2 cell">
		<h4>New Products</h4>
		<img src="https://i0.wp.com/www.birdsandblossom.com/wp-content/uploads/2018/09/Bee-Hummingbird.png?fit=762%2C509&ssl=1">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
		Nam nibh lorem, sagittis in leo vitae, luctus rhoncus ipsum. 
		Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
	</div>

	<div class="large-2 cell">
		<h4>Field Events</h4>
		<img src="https://www.ikonphotography.co.uk/wp-content/uploads/2018/09/pexels-photo-408518-970x648.jpeg">
		<p>Nulla dapibus ornare ultrices. 
		Etiam placerat vestibulum leo non consequat. 
		Phasellus convallis auctor sagittis. 
		Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
	</div>

	<div class="large-2 cell">
		<h4>Latest News</h4>
		<img src="https://live.staticflickr.com/7067/6805873452_c43b354c2a_b.jpg">
		<p>Pellentesque vulputate ligula eu massa vulputate, 
		eget rhoncus nulla euismod. Duis rhoncus at lorem a placerat.</p>
		
	</div>

	<div class="large-2 cell">
		<h4>Gallery</h4>
		<img src="https://www.metaslider.com/wp-content/uploads/2014/08/tumblr_n9hym20RNy1st5lhmo1_1280.jpg">
		<p>Donec in fringilla eros, mattis convallis mauris. 
		Vivamus scelerisque, eros at mattis sagittis, sapien dui iaculis quam, 
		sed consequat risus est a turpis.</p>
	</div>

</div>

<div class="grid-x grid-margin-x align-center">
	<div class="medium-2 cell">
		<button type="button" class="success button">New Products</button>
	</div>

	<div class="medium-2 cell">
		<button type="button" class="success button">Field Events</button>
	</div>

	<div class="medium-2 cell">
		<button type="button" class="success button">Latest News</button>
	</div>

	<div class="medium-2 cell">
		<button type="button" class="success button">View Gallery</button>
	</div>
</div>

<br/>

<div class="grid-x grid-padding-x align-center">

	<div class="cell">
		<h4 class="text-center">Special Offers</h4>
	</div>

	<div class="large-2 cell">
		<img src="https://i0.wp.com/www.birdsandblossom.com/wp-content/uploads/2018/09/Bee-Hummingbird.png?fit=762%2C509&ssl=1">
		<p class="text-center">Blah Blah Blah</p>
	</div>

	<div class="large-2 cell">
		<img src="https://www.ikonphotography.co.uk/wp-content/uploads/2018/09/pexels-photo-408518-970x648.jpeg">
		<p class="text-center">Blah Blah Blah</p>
	</div>

	<div class="large-2 cell">
		<img src="https://live.staticflickr.com/7067/6805873452_c43b354c2a_b.jpg">
		<p class="text-center">Blah Blah Blah</p>
	</div>
</div>

<div class="grid-x align-center">
		<div class="large-1 cell">
			<button type="button" class="success button">View All Offers</button>
		</div>
</div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>

